/*
Project Name: Relaxr Blog
Author: Esmeralda Hoscoy
Developer @GA in NYC
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.fl {
  float: right;
}

.fl {
  float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
  background-color: #033048;
  height: 100%;   /* study */
  overflow: auto; /*both of these clear similar to a float: clear;*/
}

header h1 {
  color: #ffffff;
  float: left;
  font-size: 50px;
}

header nav {
  font-size: 24px;
  margin-top: 50px;
  float: right;
}

header nav a {
  color: #FFFF00;
  text-decoration: none;
  display: block;
  float: right;
  margin-left: 20px; 
}

/* Content (THE WHOLE AREA WITH TWO SECTIONS) */

.content {
  width: 960px;
  margin: auto;
  background: #f1f1f1;
  padding-top: 60px;
  padding-bottom: 100px;
}

header .content {
  padding-top: 0;
  padding-bottom: 0;
}

/* POSTS SECTION (LEFT SIDE) */

.posts {
 font-size: 40px;
 width: 700px;
 color: #033048;
 margin-top: 20px;
 }

.posts h3 {
 margin-top: 0;
 padding-top: 30px;
}

.posts p {
 font-size: 24px;
 font-style: semibold; 
 color: #606161;
}

span {
  font-size: 57px;
  float: left;
  padding: 5px;
}

.posts a {
 display: block; 
 text-align: right;
 color: #033048;
 font-size: 24px;
 text-decoration: none;
 border-bottom: gray solid 3px;
 padding-bottom: 20px;
 font-style: bold;
}



/* QUICKLINKS (RIGHT SIDE) */

.quicklinks {
 float: right;
 width: 240px;
 margin-left: 20px;
 font-size: 24px;
 }

 div .categories h2{
  color: #033048;
 }

 div .categories a {
  text-decoration: none;
  display: block;
  color: #606161;
  line-height: 30px;
}

 div .about {
  color: #606161;
  overflow: hidden;
  margin-right: 10px;
}

  div .about a {
  color: #033048;
  font-style: bold;
}

/* SIGN UP NOW SECTION */

.signUpNow {
    background-color: #FFFF00; 
    color: #f0efef;
    padding-bottom: 30px;
    padding-top: 30px;
}

.signUpNow a {
    background-color: #003366;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    font-size: 25px;
    font-weight: 800;
    margin: auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 30%;
}

/* footer */
footer {
    background-color: #121212;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: auto;
    text-align: center;
    color: #ffffff;
}

footer h3 {
    color: #FFFF00;
    font-size: 50px;
}

footer div {
    padding-top: 40px;
}

footer .twitter {
    margin-right: 3%;
}

footer .facebook{
    margin-right: 3%;
}

#copyright {
    font-size: 10px;
}